<!DOCTYPE html>
<html>
<head>
 <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1 class="top-title"> {{ current_user }} Movie Web APP</h1>
</header>
{% if current_user %}
    {% if user_info.photo %}
        <img src="{{ url_for('static', filename='upload_folder/' + user_info.photo) }}" alt="User Photo" class="user-photo">
    {% endif %}
    <a href="{{ url_for('logout') }}" class="logout-button">Log Out</a>
    <a href="{{ url_for('user_profile', username=current_user) }}" class="update-profile-button">Update profile</a>
    <!-- Display the user's current photo if it exists -->
{% else %}
<a href="{{ url_for('list_users') }}" class="back-to-users-button">Back to Users page</a>
{% endif %}
<a href="{{ url_for('home') }}" class="home-page-button">Home page</a>
<a href="{{ url_for('add_new_movie', user_id=user_id) }}" class="add-movie-button">Add movie</a>
<p class="message">{{ message }}</p>
<h1 class="user-header">Your Movies</h1>
<p class="message">{{ empty_message }}</p>
<ul>
    {% for movie in movies %}
        <li>
            <div class="movie-item">
            <h3><a href="{{ movie.link }}" class="movie-title">{{ movie.title }}</a></h3>
            <div class="tooltip">
            <a href="{{ movie.link }}"></a>  <!-- Add the link attribute for the image -->
            <div class="movie-grid dvd-effect">
            <img src="{{ movie.poster }}" title="{{ movie.description }}" class="movie-poster">
                  <div class="tooltip-text">  <!-- Show year and director as tooltip text -->
                    Year: {{ movie.year }}<br>
                    Director: {{ movie.director }}<br>
                    Rating: {{ movie.rating }}
                </div>
            </div>
            </div>
            </div>
            <p>
                <a href="{{ url_for('update_movie', user_id=user_id, movie_id=movie.id) }}" class="update-button">Edit
                </a>
                <a href="{{ url_for('delete_movie', user_id=user_id, movie_id=movie.id) }}" class="delete-button">Delete
                </a>
            </p>
        </li>
    {% endfor %}
</ul>
<a href="{{ url_for('add_new_movie', user_id=user_id) }}" class="add-movie-button">Add movie</a>
<a href="{{ url_for('list_users') }}" class="back-to-users-button">Back to Users page</a>
<a href="{{ url_for('home') }}" class="home-page-button">Home page</a>
</body>
<footer>
        <p class="footer">Created for our Movie Web App Project | ©2023, by Sorin Slesari</p>
</footer>
</html>
